/* FIRA CODE */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
  font-family: 'Fira Code', monospace;
}


/* START - Contribution Graph */

:root {
  --square-size: 15px;
  --square-gap: 5px;
}

.months {
  grid-area: months;
}

.days {
  grid-area: days;
}

.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-areas: 'empty months' 'empty squares';
  grid-template-columns: auto 1fr;
}

/* other styling */
.graph {
  padding: 20px;
  border: 1px solid #e1e4e8;
  margin: 20px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: black;
}

.squares li[data-level="1"] {
  background-color: black;
}

.squares li[data-level="2"] {
  background-color: black;
}

.squares li[data-level="3"] {
  background-color: black;
}

/* END - Contribution Graph */